VITE_SUPABASE_URL=https://xxxx.supabase.co
VITE_SUPABASE_ANON_KEY=eyJ...
VITE_UPLOAD_URL=https://script.google.com/macros/s/xxxx/exec
VITE_UPLOAD_KEY=rj-8f3k29xq
VITE_ITEM_CSV_URL=https://docs.google.com/spreadsheets/d/e/2PACX-1vRyf3W9yjM5RlLL-36u427sgCRP-FtRJbqGSxA1RrUrMVuthIz8QjzbFFZYe0r7pg/pub?output=csv
